.box{
    margin-top: 100px;
}
div{
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
}
input{
    margin: 10px;
}
button{
    padding: 10px 30px;
    margin: 10px 100%;
    background-color: #2e41f1;
    color: white;
    border: none;
    border-radius: 20px;
    cursor: pointer;
}
p{
    font-size: 20px;
    font-weight: bold;
}